<!DOCTYPE html>
<html lang="cs">
<head>
    {% load static %}
    <title>Game World</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'viewer/styles.css' %}">
</head>
<body>
    {% if not view.is_popup %}
    <header>
        <div class="logo-container">
            <a href="{% url 'index' %}"><img class="logo" alt="Game World logo" src="{% static 'logos/game-world-circle-no-bg.png' %}"></a>
        </div>
        <nav class="nav-container">
            <div class="main-nav">
                <a href="#" class="navigate" data-text="PC games">PC games</a>
                <a href="#" class="navigate" data-text="PS games">PS games</a>
                <a href="#" class="navigate" data-text="X-box games">X-box games</a>
                <a href="#" class="navigate" data-text="Merchandise">Merchandise</a>
                {% if user.is_authenticated and user.is_staff %}
                    <a href="{% url 'administration' %}" class="navigate" data-text="Administrace">Administrace</a>
                {% endif %}
            </div>
            <div class="auth-nav">
                {% if request.user.is_authenticated %}
                    <p class="signet-as">Přihlášen jako: {{ request.user.username }}</p>
                    <a href="{% url 'logout' %}" class="nav-button" id="logout" data-text="Odhlásit se">Odhlásit se</a>
                    {% if request.user.profile %}
                        <a href="{% url 'profile' pk=request.user.profile.pk %}" class="nav-button" id="profile-button" data-text="Profil">Profil</a>
                    {% else %}
                        <a href="{% url 'profile_create' pk=request.user.pk %}" class="nav-button" id="create-profile-btn" data-text="Vytvořit profil">Vytvořit profil</a>
                    {% endif %}
                {% else %}
                    <a href="{% url 'signup' %}" class="nav-button" id="signup" data-text="Registrovat se">Registrovat se</a>
                    <a href="{% url 'login' %}" class="nav-button" id="login" data-text="Přihlásit se">Přihlásit se</a>
                {% endif %}
                {% if request.user.is_superuser %}
                    <a href="/admin/" class="nav-button" id="Admin" data-text="Admin">Admin</a>
                {% endif %}
            </div>
        </nav>
    </header>
    {% endif %}
    <main class="article">
        {% block content %}
        {% endblock %}
    </main>
    <footer>Copyright created by Marcel Jurčák 2024</footer>
    <script src="{% static 'viewer/script.js' %}"></script>
</body>
</html>
